/* src/style.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#canvas {
  width: 100vw;
  height: 100vh;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #111;*/
}
