/* src/style.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#canvas,
#ui-canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  z-index: 1;
}

#ui-canvas {
  z-index: 10;
  pointer-events: none; /* UI will enable pointer events itself when active */
}
